/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-saturn-7732 {
  --palette-green-1100: #0e2a21;
  --palette-green-1000: #1c4130;
  --palette-green-900: #2d6944;
  --palette-green-800: #3c884d;
  --palette-green-700: #4ca45a;
  --palette-green-600: #5ab261;
  --palette-green-500: #78c767;
  --palette-green-400: #8fda75;
  --palette-green-300: #a9e297;
  --palette-green-200: #ccf0c2;
  --palette-green-100: #ddf3d9;
  --palette-green-0: #eef9ec;
  --palette-blue-1100: #082036;
  --palette-blue-1000: #18395d;
  --palette-blue-900: #245685;
  /* This is our new main color :) */
  --palette-blue-800: #306ca5;
  --palette-blue-700: #3a79bd;
  --palette-blue-600: #4587cd;
  --palette-blue-500: #5196dd;
  --palette-blue-400: #6aacef;
  --palette-blue-300: #aad2f4;
  --palette-blue-200: #cde3f7;
  --palette-blue-100: #e0f1fe;
  --palette-blue-0: #ecf8fe;
  /* Darkest aqua there is */
  --palette-aqua-1100: #0b2737;
  /* Slightly less aquatic, still deep as an ocean */
  --palette-aqua-1000: #193c4d;
  --palette-aqua-900: #265d71;
  --palette-aqua-800: #316c82;
  --palette-aqua-700: #3a8396;
  --palette-aqua-600: #4295ab;
  --palette-aqua-500: #54b5cb;
  --palette-aqua-400: #6ad3df;
  --palette-aqua-300: #91e2e1;
  --palette-aqua-200: #b5f0f1;
  --palette-aqua-100: #d0f7f8;
  --palette-aqua-0: #e0fbfb;
  --palette-purple-1100: #1d1e36;
  --palette-purple-1000: #2b2667;
  --palette-purple-900: #453e96;
  --palette-purple-800: #5a52b4;
  --palette-purple-700: #6b62cc;
  --palette-purple-600: #7d73e2;
  --palette-purple-500: #8d84ed;
  --palette-purple-400: #9e95ec;
  --palette-purple-300: #c0c2f3;
  --palette-purple-200: #d8d8f6;
  --palette-purple-100: #eaeaf8;
  --palette-purple-0: #f2f2f8;
  --palette-neutral-1100: #040404;
  --palette-neutral-1000: #182020;
  --palette-neutral-900: #293333;
  --palette-neutral-800: #384141;
  --palette-neutral-700: #545e5f;
  --palette-neutral-600: #70797a;
  --palette-neutral-500: #939a9b;
  --palette-neutral-400: #b1b6b7;
  --palette-neutral-300: #c9cccc;
  --palette-neutral-200: #dfe1e1;
  --palette-neutral-100: #f3f4f4;
  --palette-neutral-0: #ffffff;
  --palette-teal-1100: #0b2427;
  --palette-teal-1000: #1b3e3e;
  --palette-teal-900: #2a6461;
  --palette-teal-800: #357a7b;
  --palette-teal-700: #42948e;
  --palette-teal-600: #4aa69c;
  --palette-teal-500: #58c1b2;
  --palette-teal-400: #6addc6;
  --palette-teal-300: #97e7d5;
  --palette-teal-200: #c0f0e6;
  --palette-teal-100: #d5f6ef;
  --palette-teal-0: #e9f8f5;
  --palette-pink-1100: #281821;
  --palette-pink-1000: #4f1930;
  --palette-pink-900: #872647;
  --palette-pink-800: #a43b5b;
  --palette-pink-700: #be4466;
  --palette-pink-600: #cf517c;
  --palette-pink-500: #de638b;
  --palette-pink-400: #ee7fad;
  --palette-pink-300: #f19bc0;
  --palette-pink-200: #f4b8d4;
  --palette-pink-100: #f7dcea;
  --palette-pink-0: #fbeaf2;
  --palette-red-1100: #281212;
  --palette-red-1000: #641c18;
  --palette-red-900: #8d2d28;
  --palette-red-800: #b6403b;
  --palette-red-700: #ca4b45;
  --palette-red-600: #dc584a;
  --palette-red-500: #e56a5b;
  --palette-red-400: #ef8674;
  --palette-red-300: #f1a193;
  --palette-red-200: #f4bbb3;
  --palette-red-100: #f8d7d3;
  --palette-red-0: #fbebe9;
  --palette-orange-1100: #2a140f;
  --palette-orange-1000: #581d09;
  --palette-orange-900: #8a341a;
  --palette-orange-800: #bf5c29;
  --palette-orange-700: #de763a;
  --palette-orange-600: #e68246;
  --palette-orange-500: #ee8e53;
  --palette-orange-400: #f2a069;
  /* This is our main color. And this description will show inside the documentation */
  --palette-orange-300: #f4b388;
  --palette-orange-200: #f6c7a9;
  --palette-orange-100: #f7ddce;
  --palette-orange-0: #fceee4;
  --palette-yellow-1100: #2a1b08;
  --palette-yellow-1000: #4e2c0b;
  --palette-yellow-900: #8b4f1f;
  --palette-yellow-800: #b0772a;
  --palette-yellow-700: #d49b35;
  --palette-yellow-600: #f6be41;
  --palette-yellow-500: #f8ce4c;
  --palette-yellow-400: #fad961;
  --palette-yellow-300: #fbe17f;
  --palette-yellow-200: #fbe9a4;
  --palette-yellow-100: #fbeed1;
  --palette-yellow-0: #fef8e4;
  --palette-magenta-1100: #271a2c;
  --palette-magenta-1000: #3f1a4e;
  --palette-magenta-900: #642a73;
  --palette-magenta-800: #854091;
  --palette-magenta-700: #a04da3;
  --palette-magenta-600: #b659b4;
  --palette-magenta-500: #cc6bd5;
  --palette-magenta-400: #e38aef;
  --palette-magenta-300: #e3b1ee;
  --palette-magenta-200: #ecc7f4;
  --palette-magenta-100: #f5e4fa;
  --palette-magenta-0: #fcf0fe;
  --semantic-warning-background: var(--palette-orange-700);
  /* Used for error backgrunds */
  --semantic-error-background: var(--palette-red-100);
  --semantic-error-border: var(--palette-red-600);
  --semantic-error-color: var(--palette-red-800);
  --semantic-error-icon: var(--palette-red-800);
  --semantic-info-background: var(--palette-blue-100);
  --semantic-info-border: var(--palette-blue-500);
  --semantic-info-color: var(--palette-blue-700);
  --semantic-info-icon: var(--palette-blue-800);
  --semantic-opportunity-background: var(--palette-teal-100);
  --semantic-opportunity-border: var(--palette-aqua-300);
  --semantic-opportunity-color: var(--palette-aqua-800);
  --semantic-opportunity-icon: var(--palette-aqua-700);
  --semantic-primary-hover-active-background: var(--palette-magenta-400);
  --semantic-primary-active-background: var(--palette-magenta-600);
  --semantic-primary-background: var(--palette-magenta-500);
  --semantic-primary-border: var(--palette-magenta-600);
  --semantic-primary-color: var(--palette-magenta-1100);
  --semantic-primary-hover-background: var(--palette-magenta-600);
  --semantic-primary-hover-color: var(--palette-magenta-1000);
  --semantic-primary-hover-innactive-background: var(--palette-magenta-200);
  /* Some test description */
  --semantic-sale-sale30-background: var(--palette-teal-500);
  --semantic-sale-sale50-background: var(--palette-pink-600);
  --semantic-sale-sale70-background: var(--palette-yellow-600);
  --semantic-sale-color: var(--palette-neutral-0);
  --semantic-success-background: var(--palette-aqua-100);
  --semantic-success-border: var(--palette-blue-1000);
  --semantic-success-color: var(--palette-blue-900);
  --semantic-success-icon: var(--palette-blue-800);
  --semantic-text-body: var(--palette-magenta-1000);
  --semantic-text-headline: var(--palette-orange-1100);
  --semantic-text-inverse: var(--palette-neutral-0);
  --semantic-text-subtext: var(--palette-neutral-700);
  --semantic-warning-border: var(--palette-orange-600);
  --semantic-warning-color: var(--palette-orange-900);
  --semantic-warning-icon: var(--palette-orange-800);
}